<h1>Register Form</h1>

<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
  <label for="user-name">Username: </label>
  <input id="user-name" type="text" formControlName="username" />

  <label for="email">Email: </label>
  <input id="email" type="text" formControlName="email" />

  <label for="password">Password: </label>
  <input id="password" type="password" formControlName="password" />

  <button type="submit" [disabled]="!registerForm.valid">Register</button>
</form>

<div *ngIf="registerData">
  <h3>Les données d'inscription: </h3>
  <pre>{{registerData | json}}</pre>
</div>


<h1>Login Form</h1>

<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <label for="email_login">Email: </label>
  <input id="email_login" type="text" formControlName="email" />

  <label for="password_login">Password: </label>
  <input id="password_login" type="password" formControlName="password" />
  <button type="submit" [disabled]="!loginForm.valid">Log in</button>
</form>

<div *ngIf="loginData">
  <h3>Les données de connexion: </h3>
  <pre>{{loginData | json}}</pre>
</div>

<h1>Logout</h1>
<button (click)="logout()">Log Out</button>

<h1>Obtenir les données des routes protégés</h1>
<button (click)="getUserData()">get User Data</button>

<pre *ngIf="userData">
  {{userData | json}}
</pre>
<br><br>

<button (click)="getAdminOnlyData()">get Admin Data</button>
<pre *ngIf="adminOnlyData">{{adminOnlyData | json}}</pre>
<nav>
  <a routerLink="/public">Route Public</a>
  <br>
  <a routerLink="/protected">Route Protéger</a>
</nav>
<router-outlet></router-outlet>